@import "tailwindcss";

input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    background: transparent;
    cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
    height: 6px;
    background: #ddd;
    border-radius: 999px;
}

input[type="range"]::-moz-range-track {
    height: 6px;
    background: #ddd;
    border-radius: 999px;
}

/* Chrome, Edge, Safari */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-image: url('/images/icon-slider.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: -13px;
}

/* Firefox */
input[type="range"]::-moz-range-thumb {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-image: url('/images/icon-slider.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
}

input[type="range"] {
    background: linear-gradient(
        to right,
        black 0%,
        black 50%,
        #e5e7eb 50%,
        #e5e7eb 100%
    );
}